@import url('https://fonts.googleapis.com/css?family=Noto%20Serif%20SC');

@font-face {
  font-family: 'Candyshop';
  src: url(https://ipfs.4everland.xyz/ipfs/bafkreiaztv4ex5zlllmz5jqkrc3uouggdwfy6rrenemtdf3erlbd6bmfwm);
  font-display: swap;
}
@font-face {
  font-family: SFCompactRounded;
  font-weight: 300;
  src: url(https://ipfs.4everland.xyz/ipfs/bafybeidme3gx5cgofwznbtccc7vnfi2acecdzaiy7yfcjyq4e3qgzqwzem);
}

@font-face {
  font-family: SFCompactRounded;
  font-weight: 400;
  src: url(https://ipfs.4everland.xyz/ipfs/bafybeif5baqci7hr4s6ax2a4osvhaayuuipffbww6oydibxx6qgueklc2a);
}

@font-face {
  font-family: SFCompactRounded;
  font-weight: 500;
  src: url(https://ipfs.4everland.xyz/ipfs/bafybeihidx5w2sagmed5zwtlmkceht6ni3akqxvvbnob4uz63sfdpwh5wu);
}

@font-face {
  font-family: SFCompactRounded;
  font-weight: 600;
  src: url(https://ipfs.4everland.xyz/ipfs/bafybeihe3bpdk7yojbcghhiufqe62smr7y2fcm5gagm2nq2l6cgynpauou);
}

:root {
  --theme-color: #e19bb7;
  --header-height: 30rem;
  --banner-bg-color: transparent;
  --font-fans: SFCompactRounded, 'Noto Serif SC', PingFang SC, Microsoft YaHei, Lato, sans-serif;
}

/* header overall */
.xlog-banner {
	background: url(https://fastly.jsdelivr.net/gh/yusixian/imgBed@latest/img/cos_blog/101772766_p0.webp);
	background-size: cover;
}

.xlog-site-name {
  color: var(--theme-color);
  font-family: Candyshop;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff, -1.414px 0 0 #fff, 1.414px 0 0 #fff,
    0 -1.414px 0 #fff, 0 1.414px 0 #fff;
  font-size: 35px;
  font-weight: 100;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}

.xlog-site-info {
  background-color: rgb(255 255 255 / 60%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 0.75rem;
  padding: 2rem;
  z-index: 2;
  border: 2px solid #fff;
  transition: 0.3s ease;
}
html.dark .xlog-site-info {
  background-color: rgb(0 0 0 / 65%);
	border-color: black; 
}
/** Navigator */
.xlog-site-navigation-item {
	border-radius: .75rem .75rem 0 0;
	padding: 0 .75rem;
  background-color: rgb(255 255 255 / 75%);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(1.5px);
}
button[aria-label="connector"] { 
  background-color: rgb(255 255 255 / 75%);
}

html.dark .xlog-site-navigation-item {
  background-color: rgb(0 0 0 / 75%);
}
html.dark button[aria-label="connector"] { 
  background-color: rgb(0 0 0 / 75%);
}

/** Button Group */
@media (min-width: 640px) { 
	button[aria-label="follow"] {
    transition: all 0.3s ease;
		background-color: transparent;
	}
  button[aria-label="follow"]:hover {
    animation: shake 2s ease;
  }
}

/** Site Icon Shake */
.xlog-site-icon {
  width: 110px;
  height: 110px;
}

.xlog-site-icon:hover {
  animation: shake 2s ease;
}

@media (max-width: 640px) {
  .xlog-site-info {
    padding: 1rem;
  }
  .xlog-site-info {
    margin: 0 1rem;
  }
}

.xlog-site-navigation-item:hover {
  color: var(--theme-color);
}

.xlog-site-navigation-item:hover::after {
  background-color: var(--theme-color);
}

/* post list */

.xlog-post {
  transition: 0.3s ease;
}

@media (min-width: 640px) {
	html.dark .xlog-post:hover {
		background-color: #282627;
	}
  .xlog-post:hover {
    transform: scale(1.02) translateY(-0.25rem);
    transition: all 0.3s ease;
    box-shadow: rgb(0 0 0 / 10%) 0 10px 50px;
    background: #fff;
  }

  .xlog-site-info:hover {
    transform: scale(1.03);
    -webkit-font-smoothing: antialiased;
  }
}

/* footer */

/* footer {
    position: relative;
    margin-top: 210px;
}

footer:before {
    content: ' ';
    background: url(https://fastly.jsdelivr.net/gh/yusixian/imgBed@1.2.1/img/cos_blog/101418711_p0.webp) no-repeat center; 
    height: 368px;
    width: 100%;
    display: block;
    position: absolute;
    top: -295px;
    left: 0;
    pointer-events: none;
} */

/* nfts */
.xlog-nft[data-collection='0x3955641fe1a2367be6db951910ac05ffcde14bdf'],
.xlog-nft[data-collection='0x0d133a9afdd9018348adc097335b8dfdb6746a09'] {
  display: none;
}
.xlog-nft img {
  object-fit: contain;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(2deg);
  }

  15%,
  25%,
  35% {
    transform: rotate(-4deg);
  }

  20%,
  30%,
  40% {
    transform: rotate(4deg);
  }

  45% {
    transform: rotate(-2deg);
  }

  50% {
    transform: rotate(2deg);
  }

  55%,
  90% {
    transform: rotate(0deg);
  }
}
